@{
    Layout = null;
}

@using React.AspNet

<html>
<head>
    <title>Hello React</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-dark bg-dark">

            <a class="navbar-brand text-white" href="#">Рандом</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                @*show*@
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Добавить</a>
                    </li>
                    @for (var i = 0; i < 10; i++)
                    {
                        <li class="nav-item">
                            <form id="js-f1">
                                <span>
                                    <input name="chkButton" value="122" type="checkbox" id="1" class="regular-checkbox" />
                                    <label for="1">Тестовая кнопка 1</label>
                                </span>
                                <span>
                                    <input name="chkButton" value="122" type="checkbox" id="123" class="regular-checkbox" />
                                    <label for="123">Тестовая кнопка 2</label>
                                </span>
                                <span>
                                    <input name="chkButton" value="122" type="checkbox" id="123" class="regular-checkbox" />
                                    <label for="123">Тестовая кнопка 23</label>
                                </span>
                            </form>
                        </li>
                    }

                    <li class="nav-item">
                        <form id="js-f1">
                            <span>
                                <input name="chkButton" value="122" type="checkbox" id="124" class="regular-checkbox" />
                                <label for="124">Тестовая кнопка 3</label>
                            </span>
                            <span>
                                <input name="chkButton" value="122" type="checkbox" id="125" class="regular-checkbox" />
                                <label for="125">Тестовая кнопка 4</label>
                            </span>
                        </form>
                    </li>

                </ul>
            </div>

        </nav>
    </header>

    <div id="content"></div>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/react.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    VNYMANIE ETO RAZOR PAGES!
    <script type="module" src="@Url.Content("~/js/menu.jsx")"></script>
    <div id="renderMenu"></div>
    <div id="searchButton1"></div>
    <div id="loginMessage" style="display: none"></div>
    <div id="login" style="display: none">
        <span id="renderLoginForm"></span>
    </div>

</body>
</html>

<style>
    .layer1 {
        position: absolute; /*было fixed потом static*/
        width: 350px;
        left: 10%;
        top: 17%;
        text-align: left;
    }

    .checkbox-btn span, .ib {
        font-weight: 900;
        border: 1px solid #000;
        padding: 0px 10px;
        border-radius: 10px;
        transition: background 0.5s ease;
    }

    .checkbox-btn input[type=checkbox]:not(:checked) + span {
        opacity: 0.9;
        background: #e0e0e0;
    }

    .checkbox-btn input[type=checkbox]:checked + span {
        opacity: 1;
        background: #17a2b8;
    }
</style>


@Html.ReactInitJavaScript();